<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
              var messages = {{ messages | safe }};
                  for (var i=0; i<messages.length; i++) {
                    alert(messages[i]);
                  }
                </script>
{% endif %}
{% endwith %}
<!-- comment form -->
<div class="flex mx-auto items-center justify-center shadow-lg mt-6 mx-8 mb-4 max-w-lg">
    <form class="w-full max-w-xl bg-white rounded-lg px-4 pt-2" method="POST" >
        <div class="flex flex-wrap -mx-3 mb-6">
            <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">From</h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
                <input class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-10 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" type="text" name="from" placeholder='Insert Sender email' required>
            </div>
            <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">To (for multiple emails, seperate with comma e.g test@test.com, yes@yes.com)</h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
                <input class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-10 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" type="text" name="to" placeholder='Insert recipient email (for multiple emails, seperate with comma)' required>
            </div>
            <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Subject</h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
                <input class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-10 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" type="text" name="subject" placeholder='Type the email subject' required>
            </div><h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">HTML Email Content</h2>
            <div class="w-full md:w-full px-3 mb-2 mt-2">
                <textarea class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="html" placeholder='Type Your HTML email content' required></textarea>
            </div>

            <div class="w-full md:w-full flex items-start md:w-full px-3">
                <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
                    <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    <p class="text-xs md:text-sm pt-px">Insert only HTML</p>
                </div>
                <div class="-mr-1">
                    <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Send Email'>
                </div>
            </div>
    </form>
</div>
</div>
</body>
</html>